body
{
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

canvas
{
    background-color: transparent;
    cursor: none;
    pointer-events: none;
}

label
{
    color: #666;
    display: inline-block;
    font-family: courier;;
    margin-right: 5px;
    min-width: 10em;
    line-height: 21px;
    white-space: nowrap;
}

li
{
    margin-left: 0;
}

table
{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    height: 0;
    scroll-behavior: smooth;
    user-select: none;
}

tbody, tfoot, thead
{
    display: block;
}

tfoot > th
{
    border-bottom: none;
}

tbody
{
    max-height: 55vh;
    overflow-y: auto;
}

th
{
    border-top: 1px solid #222;
    color: #666;
    font-family: courier;
    font-size: 11px;
    font-weight: normal;
    padding: 2px 0 2px 0;
    text-transform: capitalize;
}

ul
{ 
    list-style-type: disc;
    margin-left: 0.5em;
    margin-top: 0;
    padding: 0;
    text-transform: initial;
}