body
{
    background-color: black;
    color: white;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/*canvas
{
    background-color: transparent;
    cursor: none;
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 1;
}*/

label
{
    color: silver;
    display: inline-block;
    font-family: courier;
    font-size: 0.8em;
    margin-right: 5px;
    min-width: 10em;
    line-height: 21px;
}

li
{
    margin-left: 0;
}

table
{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    height: 0;
    user-select: none;
}

tbody, tfoot, thead
{
    display: block;
}

tbody
{
    max-height: 70vh;
    overflow-y: auto;
}

th
{
    border-bottom: 1px solid #222;
    color: #666;
    font-family: courier;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: capitalize;
}

ul
{ 
    list-style-type: disc;
    margin-left: 0.5em;
    margin-top: 0;
    padding: 0;
    text-transform: initial;
}