button, input, option, select, textarea
{
    background-color: #000 !important;
    border: 1px solid #222;
    border-radius: 4px;
    color: lime;
    font-family: monospace;
    font-size: 11px;
    margin: 0 1em 0 0;
    outline: none;
    user-select: auto;
}

input
{
    height: 19px;
    padding: 0;
}

input[ type=checkbox ]
{
    margin-left: 0 !important;
    bottom: -5px;
    padding: 0 !important;
    pointer-events: auto;
    position: relative;
    width: 2em !important;
}

input[ type=datetime-local ]
{
    padding: 0 !important;
    pointer-events: auto;
    height: 19px !important;
    width: 17em !important;
}

input[ type=number ]
{
    max-width: 50px;
    color: cyan;
}

input[ type=submit ]
{
    border: 1px solid #999;
    color: white;
    cursor: pointer;
    height: 21px;
    margin: 0;
    padding: 3px;
}

input[ type=submit ]:disabled
{
    border: 1px solid #900;
    color: #900;
    pointer-events: none;
}

input[ type=submit ]:hover
{
    border: 1px solid lime;
    color: lime;
}

select
{
    height: 21px;
    padding: 0 !important;
}