#container
{
    background-color: transparent;
    height: 100%;
    left: 10vw;
    position: absolute;
    top: 0;
    width: 75vw;
}

#content
{
    /*background: linear-gradient( 45deg, rgba( 8, 8, 8, 1 ) 0%, rgba( 16, 16, 16, 1 ) 35%, rgba( 0, 0, 0, 1 ) 100% );*/
    display: flex;
    justify-content: flex-start;
    left: 0;
    height: calc( 100% - 60px );
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 0;
    width: 100%;
}

#context
{
    display: none;
    position: absolute;
}

#footer
{
    background-color: black;
    border-left: 10px solid #111;
    border-top: 1px solid #222;
    bottom: 0;
    display: flex;
    height: 32px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    width: 100vw;    
}

#header
{
    background-color: #111;
    border-bottom: 1px solid #222;
    border-left: 10px solid #066;
    display: flex;
    height: 32px;
    left: 0;
    top: 0;
    position: relative;
    width: 100vw;       
}

#margin
{
    background-color: rgba( 0, 0, 0, 0.9 );
    border-left: 1px solid #222;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 15vw;
    z-index: 150;

    transition: width 2s;
    transition-delay: 1s;
}

#margin:hover
{
    width: 50vw;
}

#menu
{
    background-color: transparent;
    left: 0;
    height: 100%;
    position: relative;
    top: 0;
    width: 10vw;
}

#middle
{
    left: calc( 10vw + 10px );
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: calc( 100% - 25vw - 10px );    
}

#modal
{
    background-color:rgba( 255, 0, 0, 0.5 );
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    z-index: 100;
}

#popup
{
    background-color: #111;
    border-bottom: 1px solid #630;
    border-left: 1px solid #222;
    border-top: 1px solid #630;
    bottom: 0;
    display: block;
    min-width: 30%;
    overflow-y: auto;
    position: absolute;
    min-height: 20vh;
    max-height: 80vh;
    width: max-content;
    height: max-content;
    right: 0;  
    z-index: 200;
}

#subcontent, #submargin, #submenu
{
    background-color: #111;
    border-top: 1px solid #222;
    bottom: 1px;
    display: flex !important;
    height: 21px;
    justify-content: space-around;
    left: 0;
    position: absolute;
    width: 100%;
}

#subcontent
{    
    border-bottom: 1px solid #066;
    border-left: 10px solid #066;
}

#submargin
{
    border-bottom: 1px solid #660;
    border-left: 10px solid #660;
    /*justify-content: start;*/
    /*overflow-y: auto;*/
    z-index: 10;
}

#submenu
{
    border-bottom: 1px solid #606;
    border-left: 10px solid #606;
}

#wrapper
{
    background-color: transparent;
    height: calc( 100% - 66px );
    left: 0;
    position: relative;
    top:0;
    width: 100%;   
}