.hide, .hide:hover
{
    list-style-type: none;  
    color: red !important;
}

.hidden
{
    display: none !important;
}

.info
{
    color: cyan;
    font-size: 10px;
}

.layer, .root
{
    position: absolute;
    top: 0;
    left: 0;  
    width: 100vw;
    height: 100vh;
}

.root
{
    overflow: visible;   
}