
.active
{
    border-left: 10px solid #060 !important;
}

.brokerage
{
    min-width: 7em !important;
}

.BUY, .SELL
{
    width: 4em;
}

.buy
{
    color: lightgreen !important;
}

.checked
{
    background-color: #243;
}

.container
{
    border: 1px solid #333;
    border-radius: 10px;
    display: inline-block;
    overflow-y: auto;
    margin: 10px;
    max-height: 80vh;
    padding: 10px;
}

.create
{
    background-color: #222;
    border-left: 10px solid green !important;
}

.data
{
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    color: silver;
    font-size: 0.8em;
    min-width: 4em;
    padding: 2px 5px 2px 5px;
}

.date
{
    font-family: courier;
    min-width: 8em !important;
}

.disabled
{
    filter: grayscale( 100% );
    opacity: 0.5;
    pointer-events: none !important;
}

.div, .edit
{
    color: yellow;
}

.flex
{
    display: flex;
    justify-content: space-between;
}

.handler
{
    cursor: pointer;
}

.handler:hover
{
    background-color: #660;
}

.icon
{
    align-items: center;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    color: silver;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 20px;
    justify-content: center;
    line-height: 21px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 21px;
    text-align: center; 
}

.icon:hover
{
    background-color: #222;
}

.input, .output
{
    border: 1px solid #222;
    border-radius: 4px;
    color: gray;
    /*display: pre;*/
    font-family: courier;
    font-size: 0.8em;
    height: calc( 100% - 50px );
    margin: 10px;
    padding: 10px;
    width: calc( 50% - 40px );
}

.highlight
{
    background-color: #033;
    transition: background-color 1000ms linear;
}

.link, .tool
{
    border-bottom: 1px solid #222;
    border-left: 10px solid #222;
    border-right: 1px solid #222;
    color: silver;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 1px;
    min-width: 4vw;
    padding: 2px 0 2px 5px;
    pointer-events: auto;
    white-space: nowrap;
    user-select: none;    
}

.link:hover, .tool:hover
{
    background-color: #222;
    border-left: 10px solid #660;
}

.list
{
    margin: 0;
}

.locked
{
    filter: brightness( 0.5 );
    pointer-events: none;
}

.match
{
    background-color: rgba( 128, 128, 128, 0.3 );
}

.noclick
{
    pointer-events: none;
}

.nomatch
{
    background-color: #300;
    transition: background-color 1000ms linear;
}

.notes
{
    border: 1px dashed yellow;
}

.number
{
    color: cyan;
}

.outline
{
    border-bottom: 1px solid black;
    border-top: 1px solid transparent;
}

.outline:hover
{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.pair
{
    background-color: green !important;
}

.pairing
{
    background-color: rgba( 0, 128, 0, 0.3 ); 
}

.picked
{
    background-color: #060;
}

.picked:hover
{
    background-color: #060;
}

.row
{
    border-left: 10px solid #222;
    display: flex;
}

.row:hover
{
    border-left: 10px solid #ccc
}

.section
{
    color: violet;
    cursor: none;
    text-transform: uppercase;
}

.sell
{
    color: red !important;
}

.subsection
{
    border-top: 1px dotted #333;
    color: orange;
    cursor: none;
    font-size: 0.9em;
    text-transform: uppercase;
}

/*.title
{
    border-left: 10px solid #630;
    color: silver;
    font-size: 0.8em;
    line-height: 17px;
    max-width: 10em;   
    padding: 2px 5px 2px 5px;  
}*/

.title
{
    border-bottom: 1px dotted #222;
    color: #999;
    font-family: "Comic Sans MS";
    font-size: 1.2em;
    font-weight: normal;  
    padding: 2px 5px 2px 5px;  
}

.totals
{
    color: white !important;
    font-family: sans-serif;
    font-size: 0.7em;
}

.tool
{
   min-width: 5em; 
}

.toolbar
{
    border-bottom: 1px solid #630;
    height: 21px;
    display: flex;
    justify-content: start;
    width: calc( 100% - 10px );
}

.ui
{
    background-color: rgba( 0, 0, 0, 0.5 );
    position: absolute;
    right: 0;
    min-width: 200px;
    width: 20vw;
    height: 100vh;
    border-left: 1px dotted silver;
    z-index: 900;  
    overflow-y: auto;
    pointer-events: none;
}

.update
{
    background-color: green;
}

.value
{
    color: #999;
    min-width: 5em;
    text-align: right;
}
