.jpmorganchase
{
    border-left: 4px solid #0B6EFD;
}

.robinhood
{
    border-left: 4px solid #B00024;
}

.tdameritrade
{
    border-left: 4px solid #00B624;
}

.xyz
{
    transform-style: preserve-3d;
}

.link.active, .tab.active, .gain
{
    border-left: 10px solid #060 !important;
}

.array
{
    max-width: 50vw;
    white-space: pre-wrap;
    word-wrap: normal;
}

.block, .vertical
{
    display: block;
}

.boolean
{
    color: olive !important;
    font-weight: bold;
}

.border
{
    border: 1px solid #222;
}

.button
{
    background-color: #000;
    border: 1px solid #222;
    border-radius: 4px;
    color: lime;
    font-family: monospace;
    font-size: 11px;
    cursor: pointer;
    height: 19px;
    line-height: 19px;
    min-width: 32px;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.button:hover
{
    background-color: #333;
    border: 1px solid #666;
}

.button.active
{
    background-color: #060;
    border: 1px solid #999;
}

.buy, .open
{
    color: lightgreen !important;
}

.carousel
{
    height: calc( 100% - 10px );
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
}

.checked
{
    background-color: #243;
}

.container
{
    background-color: black;
    border: 1px solid #222;
    border-radius: 10px;
    display: block;
    overflow-y: auto;
    margin: 10px;
    max-height: 80vh;
    padding: 10px;
    z-index: 100;

    transform: scale( 1 );
    width: auto;

    transition: transform 500ms linear, width 1000ms linear;
}

.content
{
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.create
{
    background-color: #222;
    border-left: 10px solid green !important;
}

.cyan
{
    color: cyan;
}

.data
{
    border-right: 1px solid #222;
    border-top: 1px solid #222;
    color: silver;
    font-size: 10px;
    min-width: 4em;
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
}

.date, .datetime
{
    color: #999;
    font-family: courier;
    min-width: 8em !important;
    white-space: nowrap;
}

.disabled
{
    filter: grayscale( 100% );
    opacity: 0.5;
    pointer-events: none !important;
}

.enabled
{
    opacity: 1;
    pointer-events: auto !important;
}

.array, .div, .edit
{
    color: yellow;
}

.faded
{
    opacity: 0.5;
}

.field
{
    font-size: 1em;
    line-height: 21px; 
    white-space: nowrap;
}

.fit
{
    height: 100%;
    width: 100%;
}

.flex, .horizontal
{
    display: flex;
    justify-content: space-between;
}

.flex-bottom
{
    align-items: flex-end;
}

.flex-left
{
    display: flex;
}

.handler
{
    cursor: pointer;
}

.handler:hover
{
    background-color: #066;
}

.header
{
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
}

.highlight
{
    background-color: #033;
    transition: background-color 1000ms linear;
}

.highlighted
{
    background-color: #111;
}

.icon
{
    align-items: center;
    /*border-left: 1px solid #333;
    border-right: 1px solid #333;*/
    color: silver;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 20px;
    justify-content: center;
    line-height: 21px;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 21px;
    text-align: center; 
}

.icon:hover
{
    background-color: #222;
}

.input, .output
{
    border: 1px solid #222;
    border-radius: 4px;
    color: gray;
    font-family: courier;
    font-size: 0.8em;
    height: calc( 100% - 50px );
    margin: 10px;
    padding: 10px;
    width: calc( 50% - 40px );
}

.inactive
{
    border-left: 10px solid #111 !important;
    color: #333 !important;
}

.key
{
    padding-right: 3px;
}

.link, .tool
{
    background-color: #000;
    border-bottom: 1px solid #222;
    border-left: 10px solid #222;
    border-right: 1px solid #222;
    color: silver;
    cursor: pointer;
    font-size: 10px;
    margin-top: 1px;
    min-width: 4vw;
    padding: 1px 5px 1px 5px;
    pointer-events: auto;
    white-space: nowrap;
    user-select: none;    
}

.link:hover, .tool:hover, .tab:hover
{
    background-color: #222;
    border-left: 10px solid #660;
}

.list
{
    margin: 0;
}

.locked
{
    filter: brightness( 0.5 );
    pointer-events: none;
}

.loss
{
    border-left: 10px solid #600 !important;
}

.margin
{
    margin: 10px;
}

.match
{
    background-color: rgba( 128, 128, 128, 0.3 );
}

.message
{
    background-color: #222;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;

    opacity: 1;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutOpacity 
{
	0% 
    {
		opacity: 1;
	}
	100% 
    {
		opacity: 0;
	}
}

.noclick
{
    pointer-events: none;
}

.nomatch
{
    background-color: #600;

	animation-name: changeColor;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes changeColor
{
	0% 
    {
		background-color: #600;
	}
	100% 
    {
		background-color: transparent;
	}
}

.number
{
    color: cyan;
    text-align: right;
}

.notes
{
    border: 1px dashed yellow;
}

.object
{
    color: orange;
}

.outline
{
    border-bottom: 1px solid black;
    border-top: 1px solid transparent;
}

.outline:hover
{
    border-bottom: 1px solid #ccc;
    
    border-top: 1px solid #ccc;
}

.over > td
{
    border-top-color: green;
}

.pair
{
    background-color: green !important;
}

.pairing
{
    background-color: rgba( 0, 128, 0, 0.3 ); 
}

.panel
{
    flex: 1;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
}

.panels
{
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-top: 1px solid #222;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: calc( 100% - 30px );
    margin: 10px;
    width: calc( 100% - 30px );
}

.path
{
    color: #666;
    font-family: monospace;
    padding: 4px 1em 4px 1em;
}

.perspective
{
    /*position: relative;
    perspective: 400vw;*/
}

.picked
{
    background-color: #060;
}

.picked:hover
{
    background-color: #060;
}

.picker
{
    border-collapse: separate;
    bottom: 0;
    position: absolute;
}

.popup
{
    border-bottom: 1px dotted #222;
    color: #999;
    font-family: courier;
    font-size: 1em;
    font-weight: normal;  
    padding: 2px 5px 2px 5px; 
}

.pre, .code, .function
{
    color: lime;
    font-family: monospace;
    white-space: pre;
    height: 100%;
    width: 100%;
}

.round
{
    border-radius: 10px;
}

.row
{
    border-left: 10px solid #222;
    display: flex;
}

.row:hover
{
    border-left: 10px solid #ccc
}

.scaled
{
    cursor: pointer;
    position: relative;
    z-index: 10;

    transform: scale( 0.5 );
    width: 25%;

    transition: transform 500ms linear, width 1000ms linear;
}

.scanning
{
    background-color: #CC0;
    transition: background-color 100ms linear;
}

.section
{
    color: violet;
    cursor: none;
    text-transform: uppercase;
}

.selected
{
    background-color: #333;
    color: silver;
}

.sell, .closed
{
    color: red !important;
}

.side
{
    background-color:rgba( 16, 16, 16, 0.1 );
    position: absolute;
    height: 100%;
    left: 0;
    padding: 10px;
    pointer-events: none;
    top: 0;
    width: 100%;
}

.string
{
    color: white;
}

.subsection
{
    border-top: 1px dotted #333;
    color: orange;
    cursor: none;
    font-size: 0.9em;
    text-transform: uppercase;
}

.tab
{
    border-bottom: 1px solid #222;
    border-left: 10px solid #222;
    border-right: 1px solid #222;
    border-bottom-right-radius: 6px;
    color: #999;
    cursor: pointer;
    font-size: 9px;
    font-weight: normal;  
    min-width: 4em;
    padding: 2px 5px 2px 5px;
}

.table-body
{
    display: table-row-group;
}

.tabs
{
    border-top: 1px solid #222;
    margin-top: auto;
}

.tile
{
    border: 1px solid #222;
    border-left: 10px solid #222;
    border-radius: 1em;
    display: block;
    min-width: 5%;
    min-height: 10%;
    padding: 10px;
}

.tile.closed
{
    border-left-color: red !important;
}

.tile.open
{
    border-left-color: green;
}

.tiles
{
    border: none;
    flex-flow: row wrap;
    max-width: calc( 100% - 16px );
    padding: 10px;
}

.title
{
    border-bottom: 1px dotted #222;
    color: white;
    font-family: Impact;
    font-size: 1.2em;
    font-weight: normal;  
    padding: 2px 5px 2px 5px;  
    white-space: nowrap;
}

.totals
{
    color: white !important;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 4px;
    padding: 2px 0 2px 0;
}

.tool
{
   min-width: 5em; 
}

.toolbar
{
    border-bottom: 1px solid #630;
    height: 21px;
    display: flex;
    justify-content: start;
    width: calc( 100% - 10px );
}

.tooltip:hover:after
{
    content: attr( data-details );
    position: absolute;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    background: #222;
    font-family: monospace;
    color: silver;
    white-space: pre;
    z-index: 1000;
}

.tr:hover
{
    background-color: #333;
    cursor: pointer;
}

.ui
{
    background-color: rgba( 0, 0, 0, 0.5 );
    position: absolute;
    right: 0;
    min-width: 200px;
    width: 20vw;
    height: 100vh;
    border-left: 1px dotted silver;
    z-index: 900;  
    overflow-y: auto;
    pointer-events: none;
}

.underline
{
    border-bottom: 1px dotted #222;
}

.update
{
    background-color: green;
}

.value
{
    color: #999;
    min-width: 5em;
    text-align: right;
}
