.autonumber
{
    border-right: 1px solid #222;
    padding: 0 2px 0 2px;
}

.border
{
    border: 1px solid #222;
}

.button
{
    background-color: #111;
    border: 1px solid #222;
    border-radius: 2px;
    color: silver;
    font-family: monospace;
    font-size: 11px;
    cursor: pointer;
    height: 1em;
    line-height: 1em;
    margin-right: 2px;
    min-width: 32px;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
}

.button:hover
{
    background-color: #333;
    border: 1px solid #666;
}

.button.active
{
    color: lime;
    border: 1px solid #666;
}

.cell
{
    border-right: 1px solid #222;
    border-top: 1px solid #222;
    padding: 0;
}

.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.data
{
    color: silver;
    font-size: 1em;
    min-width: 4em;
    position: relative;
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
}

.dirty
{
    border: 2px solid #600 !important;
}

.editable
{
    background-color: #111;
    border-radius: 2px;
    left: 0;
    min-width: 100%;
    padding: 2px;
    position: absolute;
    top: -1px;
}

.editable:hover
{
    background-color: #333;
    cursor: pointer;
}

.editable:focus
{
    background-color: #000;
    border: 2px solid #660;
    cursor: auto;
    outline: none;
    transform: translateX( 50% ) scale( 2 );
    user-select: auto;
    z-index: 2;

    transition: transform 1s ease;
}

.handle
{
    background-color: #666;
    height: 100%;
    position: absolute;
    width: 8px;
}

.handle:hover, .move
{
    background-color: white;
}

.m10
{
    margin: 10px;
}

.meter
{
    background: linear-gradient( to left, red, yellow, blue );
    position: relative;
}

.p0
{
    padding: 0;
}

.p10
{
    padding: 10px;
}

.r4
{
    border-radius: 4px; 
}

.r10
{
    border-radius: 10px;
}

.saved
{
    border: 2px solid #060 !important;
    transform: scale( 1 );

    transition: transform 1s ease;
}