.autonumber
{
    border-right: 1px solid #222;
    padding: 0 2px 0 2px;
}

.border
{
    border: 1px solid #222;
}

.button
{
    background-color: #111;
    border: 1px solid #222;
    border-radius: 2px;
    color: silver;
    font-family: monospace;
    font-size: 11px;
    cursor: pointer;
    height: 1em;
    line-height: 1em;
    margin-right: 2px;
    min-width: 32px;
    padding: 2px;
    text-align: center;
    white-space: nowrap;
}

.button:hover
{
    background-color: #333;
    border: 1px solid #666;
}

.button.active
{
    color: lime;
    border: 1px solid #666;
}

.cell
{
    border-right: 1px solid #222;
    border-top: 1px solid #222;
    padding: 0;
}

.center 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.data
{
    color: silver;
    font-size: 1em;
    min-width: 4em;
    position: relative;
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
}

.dirty
{
    border: 2px solid #600 !important;
}

.editable
{
    background-color: #111;
    border-radius: 2px;
    left: 0;
    min-width: 100%;
    padding: 2px;
    position: absolute;
    top: -1px;
}

.editable:hover
{
    background-color: #333;
    cursor: pointer;
}

.editable:focus
{
    background-color: #000;
    border: 2px solid #660;
    cursor: auto;
    outline: none;
    transform: translateX( 50% ) scale( 2 );
    user-select: auto;
    z-index: 2;

    transition: transform 1s ease;
}

.expand
{
    grid-template-rows: 1fr;
    
    transition: all 1s ease;
}

.grid
{
    display: grid;
};

.handle
{
    background-color: #666;
    height: 100%;
    position: absolute;
    width: 8px;
}

.handle:hover, .move
{
    background-color: white;
}

.m10
{
    margin: 10px;
}

.meter
{
    background: linear-gradient( to left, red, yellow, blue );
    position: relative;
}

.receiver
{
    background-color: rgba( 0, 0, 0, 0.7 );
    border-left: 1px solid #222;
    border-top: 1px solid #222;
    bottom: 1em;
    right: 0;
    position: absolute;
    z-index: 100;

    transition: all 1s ease-in;
}

.receiver > div
{
    max-height: 30em;
    overflow-x: scroll;
    padding: 1em;
}

.receiver.collapsed, .expand.collapsed
{
    grid-template-rows: 0fr;

    transition: all 1s ease;
}

.wide.collapsed
{
    grid-template-columns: 0fr;

    transition: all 1s ease;
}

.side
{
    background-color: black;
    height: calc( 100% - 3em );
    left: 0;
    opacity: 1;
    padding: 1em;
    position: absolute;
    top: 0;
    width: calc( 100% - 3em );

    transition: opacity 1s ease;
}

.p0
{
    padding: 0;
}

.p10
{
    padding: 10px;
}

.r4
{
    border-radius: 4px; 
}

.r10
{
    border-radius: 10px;
}

.saved
{
    border: 2px solid #060 !important;
    transform: scale( 1 );

    transition: transform 1s ease;
}

.translucent
{
    background-color:rgba( 16, 16, 16, 0.1 );
}

.wide
{
    grid-template-columns: 1fr;
    
    transition: all 1s ease;
}